/*	----------------------------------------------------------------------------
 *	HEADER
 *	Horizontal bar used at the top of the page to provide major navigation
 *	and information about actually used application
 */

.c-Header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: +1;

	&__logo {
		float: left;

		svg {
			margin-top: 25px;
			margin-right: 20px;
			float: left;
			width: 27px;
			height: 18px;
		}

		h1 {
			float: left;
			margin: 16px 0 0 0;
			font-size: 18px;
			font-weight: normal;
			color: #7b7b7b;
		}
	}

	&__menu {
		float: right;
		height: 100%;
		list-style: none;

		& > li {
			height: 100%;
			display: inline-block;
			vertical-align: middle;

			& > a {
				display: block;
				position: relative;
				padding: 18px 16px 0 16px;
				height: 100%;
				font-size: 14px;
				line-height: 30px;
				color: #7b7b7b;
				transition: all .2s ease-out;

				&:hover { color: #000; }

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					height: 3px;
					width: 100%;
					opacity: 0;
					background-color: $color-blue;
					transform: translateX(-50%) scaleX(0);
					transition: all .2s ease-out;
				}

				&:hover:after {
					opacity: 1;
					transform: translateX(-50%) scaleX(1);
				}
			}
		}
	}

	&__badge {
		ul {
			list-style: none;
			visibility: hidden;
			opacity: 0;
			background-color: #fff;
			transition: all .2s;
			border-color: $color-line;
			border-style: solid;
			border-width: 0 1px 1px 1px;

			a {
				display: block;
				padding: 12px 12px;
			}
		}

		&:hover {
			ul {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__badge-photo {
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background-color: $color-gray;
	}
}