.o-Tabs {
	margin-top: 20px;

	&.with-caption {
		p {
			float: left;
			font-weight: bold;
		}

		ul {
			float: right;
		}
	}

	&__List {
		margin-bottom: 10px;
		border-bottom: 1px solid $color-line;

		ul {
			display: flex;
			list-style-type: none;

			li {
				cursor: pointer;
				margin-left: 10px;
				padding: 12px 20px 12px 20px;
				min-height: 100%;
				border: 1px solid $color-line;
				border-bottom: 0;
				background-color: $color-white;
				transition: all .2s;

				&:focus {
					border-color: $color-gray-dark;
				}

				&.is-Active {
					transform: translateY(1px);
					cursor: default;
				}

				&:not(.is-Active):hover {
					background-color: $color-gray;
				}
			}
		}
	}

	&__Panels {
		margin-bottom: 20px;
		border: 1px solid $color-line;
		min-height: $gutter;
		overflow: hidden;
		transition: height .3s;

		& > div {
			padding: 30px;
			display: none;
		}

		& > .is-Active {
			display: block;
			animation: fadein 0.5s;
		}
	}
}