
/*	================================================================================
 *
 *	GRIDS
 *
 *	================================================================================
 */


.flexGrid {

	.Row {
		display: flex;
		flex: 0 1 auto;
		flex-direction: row;
		flex-wrap: wrap;

		[class*='Col-'] {
			flex: 0 0 auto;

			// Vertical column alignments applicable to each column separately
			&.Col {
				&--top		{ align-self: flex-start; }
				&--center	{ align-self: center; }
				&--bottom	{ align-self: flex-end; }
			}
		}
	}

	// Vertical columns alignments applied to each column in grid
	&.Grid {
		&--top		{ .Row { align-items: flex-start; } }
		&--center	{ .Row { align-items: center; } }
		&--bottom	{ .Row { align-items: flex-end; } }
	}
}


/*	--------------------------------------------------------------------------------
 *	COLUMN SiZES FOR BOTH GRID SYSTEMS
 */

@mixin columns($screen-size:'') {

	@for $i from 1 through 12 {

		.Col-#{$i}#{$screen-size} {
			width: percentage($i/12);
			flex-basis: percentage($i/12);
		}
	}

	.Col-hide#{$screen-size} { display: none; }
}

// Default screen size
@include columns();

// Screen size: Ultra large
@media (max-width: $breakpoint-h-ul) {
	@include columns('\\@UL');
}

// Screen size: Extra large
@media (max-width: $breakpoint-h-xl) {
	@include columns('\\@XL');
}

// Screen size: Large
@media (max-width: $breakpoint-h-lg) {
	@include columns('\\@LG');
}

// Screen size: Medium
@media (max-width: $breakpoint-h-md) {
	@include columns('\\@MD');
}

// Screen size: Small
@media (max-width: $breakpoint-h-sm) {
	@include columns('\\@SM');
}

// Screen size: Extra small
@media (max-width: $breakpoint-h-xs) {
	@include columns('\\@XS');
}