
/*	================================================================================
 *
 *	NORMALISE
 *
 *	================================================================================
 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	outline: none;
}

html {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}

body {
	min-height: 100%;
	line-height: 1;
}

// Scale window content to viewport size if window is extra small
@viewport { width: device-width }
@include max-width(h-xs) {
	@viewport { width: breakpoint(h-xs); }
}

*:before,
*:after {
	box-sizing: inherit;
}

article, aside, details, figure, figcaption, header, footer, hgroup, main, menu, nav, section, summary, hr { display: block; }

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

img { border: none; }

svg:not(:root) { overflow: hidden; } // Correct overflow not hidden in IE 9/10/11.


/*	--------------------------------------------------------------------------------
 *	TYPOGRAPHY, LISTS, LINKS
 */

p:not(:last-child) { margin-bottom: 1em; }

del { text-decoration: line-through; }

abbr[title], dfn[title] {
	border-bottom: 1px dotted rgba(0,0,0, .5);
	cursor: help;
}

sub,
sup {
	font-size: .8em;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
}
sup { top: -.5em; }
sub { bottom: -.25em; }

a {
	text-decoration: none;
	cursor: pointer;
	background-color: transparent; // Remove the gray background color from active links in IE 10.
}

address { font-style: normal; }


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td { text-align: left; }

input[type='radio'],
input[type='checkbox'] {
	position: relative;
	top: -1px;
	vertical-align: middle;
}


/*	--------------------------------------------------------------------------------
 *	FORMS
 */

button,
.Btn,
label,
input[type='button'],
input[type='submit'],
input[type='file'] {
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover { z-index: +1; }
}

label { user-select: none; }

[disabled] { cursor: default; }


/*	--------------------------------------------------------------------------------
 *	OTHER ELEMETS
 */

hr {
	height: 1px;
	border-style: solid;
	border-width: 1px 0 0 0;
}