
/*	================================================================================
 *
 *	UTILITIES
 *
 *	It has a very specific role (often providing only one declaration)
 *	and should not be bound onto or changed. It can be reused and is not tied
 *	to any specific piece of UI.
 *
 *	================================================================================
 */


.u-Hero {
	width: 100%;
	height: 100%;
	height: 100vh;
}

.u-Clear {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


/** --------------------------------------------------------------------------------
 * ALIGNMENTS
 */

.u-Text {
	&--Left {
		text-align: left;
	}

	&--Center {
		text-align: center;
	}

	&--Right {
		text-align: right;
	}

	&--Justify {
		text-align: justify;
	}
}

.u-Valign {
	&--Top {
		vertical-align: top;
	}

	&--Middle {
		vertical-align: middle;
	}

	&--Bottom {
		vertical-align: bottom;
	}
}

.u-Box {
	&--Center {
		margin-left: auto;
		margin-right: auto;
	}
}

.u-Float {
	&--Left {
		float: left;
	}

	&--Right {
		float: right;
	}
}


/** --------------------------------------------------------------------------------
 * POSITIONS
 */

.u-Relative {
	position: relative;
}

.u-Absolute {
	position: absolute;
}

.u-Fixed {
	position: fixed;
}


/** --------------------------------------------------------------------------------
 * DISPLAY
 */

.u-Hidden {
	visibility: hidden;
}

.u-Visible {
	visibility: visible;
}

.u-Block {
	display: block;
}

.u-NotDisplayed {
	display: none;
}

.u-Inline {
	display: inline;
}

.u-Table {
	display: table;

	&__Row {
		display: table-row;
	}

	&__Row > *,
	&__Cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.u-Flex {
	display: flex;

	&--Center {
		align-items: center
	}
}

.u-InlineFlex {
	display: inline-flex;
}

.u-NotSelectable {
	user-select: none;
}


/** --------------------------------------------------------------------------------
 * SIZES
 */

.u-Width {
	&--Full {
		width: 100%;
	}

	&--Half {
		width: 50%;
	}
}

.u-Height {
	&--Full {
		height: 100%;
	}

	&--Half {
		height: 50%;
	}
}


/** --------------------------------------------------------------------------------
 * TRANSFORMATIONS
 */

.u-Rotate {
	&--90 {
		transform: rotate(90deg);
	}

	&--180 {
		transform: rotate(180deg);
	}

	&--270 {
		transform: rotate(270deg);
	}
}


/** --------------------------------------------------------------------------------
 * OTHER
 */

.u-Clickable {
	cursor: pointer;
}

.u-Disabled {
	pointer-events: none;
}

.u-Overflow {
	&--Hidden {
		overflow: hidden;
	}

	&--Scroll {
		overflow: scroll;
	}
}

.u-NoTransition	{
	transition: none !important;
}

.u-Reset {
	&--styles {
		font-family: initial;

		* {
			margin: 0;
			padding: 0;
		}
	}
}