
/*	================================================================================
 *
 *	UTILITIES
 *
 *	It has a very specific role (often providing only one declaration)
 *	and should not be bound onto or changed. It can be reused and is not tied
 *	to any specific piece of UI.
 *
 *	================================================================================ */


.u-Hero {
	width: 100%;
	height: 100%;
	height: 100vh;
}

.u-Clear:after {
	content: '';
	display: block;
	clear: both;
}


/*	----------------------------------------------------------------------------
 *	ALIGNMENTS
 */

.u-Text {
	&_left		{ text-align: left !important; }
	&_center	{ text-align: center !important; }
	&_right		{ text-align: right !important; }
	&_justify	{ text-align: justify !important; }
}

.u-Valign {
	&_top		{ vertical-align: top; }
	&_middle	{ vertical-align: middle; }
	&_bottom	{ vertical-align: bottom; }
}

.u-Box {
	&_center {
		margin-left: auto;
		margin-right: auto;
	}
}

.u-Float {
	&_left		{ float: left; }
	&_right		{ float: right; }
}


/*	----------------------------------------------------------------------------
 *	POSITIONS
 */

.u-Relative		{ position: relative; }
.u-Absolute		{ position: absolute; }
.u-Fixed		{ position: fixed; }

.u-z {
	&Plus		{ z-index: +1; }
	&Minus		{ z-index: -1; }
}


/*	----------------------------------------------------------------------------
 *	DISPLAY
 */

.u-Hidden			{ visibility: hidden; }

.u-Block			{ display: block; }
.u-notDisplayed		{ display: none; }
.u-Inline			{ display: inline; }

.u-Table {
	display: table;

	&__row { display: table-row; }

	&__row > *,
	&__cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.u-notSelectable { user-select: none; }


/*	----------------------------------------------------------------------------
 *	SIZES
 */

.u-Width {
	&_full			{ width: 100% !important; }
	&_half			{ width: 50% !important; }
}

.u-Height {
	&_full			{ height: 100% !important; }
	&_half			{ height: 50% !important; }
}


/*	----------------------------------------------------------------------------
 *	TRANSFORMATIONS
 */

.u-Rotate {
	&_90			{ transform: rotate(90deg); }
	&_180			{ transform: rotate(180deg); }
	&_270			{ transform: rotate(270deg); }
}



/*	----------------------------------------------------------------------------
 *	OTHER
 */

.u-Clickable		{ cursor: pointer; }

.u-Disabled			{ pointer-events: none; }

.u-Overflow {
	&_hidden		{ overflow: hidden; }
	&_scroll		{ overflow: scroll; }
}

.u-noTransition		{ transition: none !important; }