
/*	================================================================================
 *
 *	UTILITIES
 *
 *	It has a very specific role (often providing only one declaration)
 *	and should not be bound onto or changed. It can be reused and is not tied
 *	to any specific piece of UI.
 *
 *	================================================================================ */



.u_hero {
	width: 100%;
	height: 100%;
	height: 100vh;
}

.u_clear:after {
	content: '';
	display: block;
	clear: both;
}


/*	----------------------------------------------------------------------------
 *	ALIGNMENTS
 */

.u_text {
	&-left		{ text-align: left !important; }
	&-center	{ text-align: center !important; }
	&-right		{ text-align: right !important; }
	&-justify	{ text-align: justify !important; }
}

.u_valign {
	&-top		{ vertical-align: top; }
	&-middle	{ vertical-align: middle; }
	&-bottom	{ vertical-align: bottom; }
}

.u_box-center {
	margin-left: auto;
	margin-right: auto;
}

.u_float {
	&-left		{ float: left; }
	&-right		{ float: right; }
}


/*	----------------------------------------------------------------------------
 *	POSITIONS
 */

.u_relative		{ position: relative; }
.u_absolute		{ position: absolute; }
.u_fixed		{ position: fixed; }

.u_z {
	&-plus		{ z-index: +1; }
	&-minus		{ z-index: -1; }
}


/*	----------------------------------------------------------------------------
 *	DISPLAY
 */

.u_hidden			{ visibility: hidden; }

.u_disabled			{ pointer-events: none; }

.u_block			{ display: block; }
.u_not-displayed	{ display: none; }
.u_inline			{ display: inline; }
.u_table			{ display: table; }

	.u_table-row 	{ display: table-row; }

		.u_table-row > *,
		.u_table-cell {
			display: table-cell;
			vertical-align: middle;
		}

.u_not-selectable { user-select: none; }


/*	----------------------------------------------------------------------------
 *	SIZES
 */

.u_width {
	&-full			{ width: 100%; }
	&-50			{ width: 50%; }
}

.u_height {
	&-full			{ height: 100%; }
	&-50			{ height: 50%; }
}


/*	----------------------------------------------------------------------------
 *	TRANSFORMATIONS
 */

.u_rotate {
	&-90			{ transform: rotate(90deg); }
	&-180			{ transform: rotate(180deg); }
	&-270			{ transform: rotate(270deg); }
}



/*	----------------------------------------------------------------------------
 *	OTHER
 */

.is-clickable		{ cursor: pointer; }

.u_overflow {
	&-hidden	{ overflow: hidden; }
	&-scroll	{ overflow: scroll; }
}

.u_no-transition { transition: none !important; }