/**
 * =================================================================================
 * CUSTOM UTILITIES
 *
 * It has a very specific role (often providing only one declaration)
 * and should not be bound onto or changed. It can be reused and is not tied
 * to any specific piece of UI.
 * =================================================================================
 */


/*	--------------------------------------------------------------------------------
 *	LAYOUT
 */

.l-Wrapper {
	margin: 0 auto;
	padding: $gutter;
	width: 1000px;
	max-width: 100%;
}

.l-Inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.l-Pad {
	& {
		padding: $gutter;
	}

	&--Top {
		padding-top: $gutter;
	}

	&--Right {
		padding-right: $gutter;
	}

	&--Bottom {
		padding-bottom: $gutter;
	}

	&--Left {
		padding-left: $gutter;
	}
}


/*	--------------------------------------------------------------------------------
 *	GRIDS
 */

.Grid--Gutter {
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;

	[class*='Col-'] {
		padding-left: $gutter/2;
		padding-right: $gutter/2;
	}
}


/*	--------------------------------------------------------------------------------
 *	VISUAL STYLING
 */

.u-Line {
	&--Left {
		border-left: 1px solid $color-line;
	}

	&--Right {
		border-right: 1px solid $color-line;
	}

	&--Top {
		border-top: 1px solid $color-line;
	}

	&--Bottom {
		border-bottom: 1px solid $color-line;
	}
}

.u-BoxShadow {
	&--1 {
		box-shadow: 0 1px 1px rgba($color-black,.15), 0 2px 30px rgba($color-black,.1);
	}
}


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

.u-Lines {
	&--All {
		td, th {
			padding-left: 10px;
			padding-right: 10px;
			border: 1px solid $color-line;
		}
	}

	&--Horizontal {
		th {
			border-bottom: 2px solid $color-line;
		}

		td {
			border-bottom: 1px solid $color-line;
		}
	}
}