
/*	================================================================================
 *	CONFIGURATION
 *	================================================================================ */

$color-dark			: #222222;
$color-gray			: #f1f1f1;
$color-gray-dark	: #aeaeae;
$color-orange-light	: #efc58a;
$color-orange		: #ffa000;
$color-orange-dark	: #ed5519;
$color-blue			: #4993ee;
$color-red			: #e0360e;
$color-emerald		: #06d676;

$color-line			: #d7d7d7;

$gutter				: 40px;



/*	================================================================================
 *	UTILITIES
 *	================================================================================ */


.u-Inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.u-Pad {
	&			{ padding: $gutter; }
	&-top		{ padding-top: $gutter; }
	&-right		{ padding-right: $gutter; }
	&-bottom	{ padding-bottom: $gutter; }
	&-left		{ padding-left: $gutter; }
}

.u-Line {
	&-left		{ border-left: 1px solid $color-line; }
	&-right		{ border-right: 1px solid $color-line; }
	&-top		{ border-top: 1px solid $color-line; }
	&-bottom	{ border-bottom: 1px solid $color-line; }
}

.u-boxShadow {
	&-1 { box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 30px rgba(0,0,0,.1); }
}


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.u-Lines {
	&_all {
		td, th {
			padding-left: 10px;
			padding-right: 10px;
			border: 1px solid $color-line;
		}
	}

	&_horizontal {
		th { border-bottom: 2px solid $color-line; }
		td { border-bottom: 1px solid $color-line; }
	}
}



/*	================================================================================
 *	STARTING STYLES
 *	================================================================================ */


body {
	font-family: 'Segoe UI', 'Segoe', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #373737;
}

hr { border-color: $color-line; }



/*	================================================================================
 *	COMPONENTS
 *	================================================================================ */


.Wrapper {
	margin: 0 auto;
	padding: $gutter;
	width: 1000px;
	max-width: 100%;
}

.c-Sidebar {
	width: 400px;
	min-height: 100vh;
	font-size: 14px;
	line-height: 20px;

	&.docked-left {
		float: left;
		left: 0;
	}
	&.docked-right {
		float: right;
		right: 0;
	}

	@media screen and (max-width: $breakpoint-h-ul) {
		width: 350px;
	}

	@media screen and (max-width: $breakpoint-h-xl) {
		padding: $gutter/2 $gutter/2 0 $gutter/2;
		width: 300px;
	}

	@media screen and (max-width: $breakpoint-h-md) {
		float: none;
	}
}


.c-Content {
	width: calc(100% - 400px);
	height: 100%;

	&.docked-right {
		float: right;
		right: 0;
	}
	&.docked-left {
		float: left;
		left: 0;
	}

	@media screen and (max-width: $breakpoint-h-ul) {
		width: calc(100% - 350px);
	}

	@media screen and (max-width: $breakpoint-h-xl) {
		width: calc(100% - 300px);
	}

	@media screen and (max-width: $breakpoint-h-md) {
		float: none;
		position: static !important;
		padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
		width: auto;
		min-height: auto;
	}
}


.c-Cookies-bar {
	visibility: hidden;
	position: fixed;
	z-index: 999;
	bottom: 30px;
	right: 30px;
	padding: 20px;
	width: 240px;
	transform: scale(.7);
	opacity: 0;
	transition: all .3s;

	&.is-Open {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}

	button { margin: 0; }
}


.c-Tooltip {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	visibility: hidden;

	> div {
		position: absolute;
		left: -30px;
		bottom: 8px;
		padding: 12px 16px;
		transform: translateY(-10px);
		width: 200px;
		min-height: 40px;
		background-color: $color-dark;
		transition: all .2s ease-out;
		font-size: 14px;
		line-height: 18px;
		color: $color-gray;
		opacity: 0;
		will-change: transform;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 20px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $color-dark transparent transparent transparent;
		}
	}

	&.is-Open {
		visibility: visible;

		> div {
			transform: translateY(0);
			opacity: 1;
		}
	}
}



/*	================================================================================
 *	OBJECTS
 *	================================================================================ */


.o-Options-bar {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: +1;

	.logo {
		float: left;

		svg {
			margin-top: 25px;
			margin-right: 20px;
			float: left;
			width: 27px;
			height: 18px;
		}

		h1 {
			float: left;
			margin: 16px 0 0 0;
			font-size: 18px;
			font-weight: normal;
			color: #7b7b7b;
		}
	}

	.menu {
		float: right;
		height: 100%;
		list-style: none;

		& > li {
			height: 100%;
			display: inline-block;
			vertical-align: middle;

			& > a {
				display: block;
				position: relative;
				padding: 18px 16px 0 16px;
				height: 100%;
				font-size: 15px;
				line-height: 30px;
				color: #7b7b7b;
				transition: all .2s ease-out;

				&:hover { color: #000; }

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					height: 3px;
					width: 100%;
					opacity: 0;
					background-color: $color-blue;
					transform: translateX(-50%) scaleX(0);
					transition: all .2s ease-out;
				}

				&:hover:after {
					opacity: 1;
					transform: translateX(-50%) scaleX(1);
				}
			}
		}

		.badge {
			.badge-photo {
				display: inline-block;
				margin-right: 8px;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				background-color: $color-gray;
			}

			ul {
				list-style: none;
				visibility: hidden;
				opacity: 0;
				background-color: #fff;
				transition: all .2s;
				border-color: $color-line;
				border-style: solid;
				border-width: 0 1px 1px 1px;

				a {
					display: block;
					padding: 12px 12px;
				}
			}

			&:hover {
				ul {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}


.o-Sample-text {
	font-size: 14px;
	line-height: 20px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 40px;
		left: 0;
		right: 0;
		z-index: +1;
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	}
}


.o-Tabs {
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
	border-bottom: 1px solid $color-line;

	p { font-weight: bold; }

	ul {
		height: 100%;
		list-style-type: none;

		li {
			margin-left: 10px;
			float: left;
			height: 100%;

			&:last-child { margin-right: 10px; }

			a {
				display: block;
				padding: 12px 20px 0 20px;
				height: 100%;
				border: 1px solid $color-line;
				border-bottom: 0;
				color: #484848;
				background-color: #fff;
				transition: all .2s;
			}

			&.is-Active {
				height: calc(100% + 1px);

				a { cursor: default; }
			}

			&:not(.is-Active) a:hover {
				margin-top: -4px;
				height: calc(100% + 4px);
				background-color: $color-gray;
			}
		}
	}

	&.with-caption {
		p { float: left; }
		ul { float: right; }
	}

	&__container {
		margin-bottom: 20px;
		border: 1px solid $color-line;
		overflow: hidden;
		transition: height .3s;

		& > div {
			padding: 30px;
			display: none;
		}

		& > .is-Active {
			display: block;
			animation: fadein 0.5s;
		}
	}
}


/*	--------------------------------------------------------------------------------
 *	RICH TEXT EDITOR
 */

.o-Rte {
	position: relative;
	border: 1px solid $color-line;

	&.is-Active { border-color: #00a8ff; }

	&__toolbar {
		list-style-type: none;
		height: 45px;
		border-bottom: 1px solid $color-line;

		& > li {
			position: relative;
			display: inline-block;
			vertical-align: top;
		}

		button {
			display: inline-block;
			padding: 0 12px;
			min-width: 44px;
			height: 44px;
			background-color: transparent;
			border: none;
			color: $color-gray-dark;

			&:hover { background-color: $color-gray; }

			&.sublist {
				border-right: 1px solid $color-line;

				&:after {
					content: '';
					display: inline-block;
					margin-left: 4px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 3.5px 0 3.5px;
					border-color: $color-gray-dark transparent transparent transparent;
				}
			}
		}

		li > ul {
			list-style-type: none;
			position: absolute;
			top: 40px;
			left: -1px;
			min-width: 110px;
			background-color: #fff;
			border: 1px solid $color-line;
			border-top: none;
			box-shadow: 0 1px 5px rgba(0,0,0,.1);

			button {
				width: 100%;
				border: none;
				border-bottom: 1px solid $color-gray;
				text-align: left;
			}

			li:last-child button {
				border-bottom: none;
			}
		}
	}

	&__editor {
		padding: 16px 12px;
		min-height: 160px;
		font-size: 14px;

		ul { list-style-type: disc; }

		ol { list-style-type: decimal; }

		ul li,
		ol li {
			padding-bottom: 5px;
			margin-left: 25px;
			padding-left: 5px;
		}
	}
}



/*	================================================================================
 *	THEMES
 *	================================================================================ */


/*	--------------------------------------------------------------------------------
 *	Theme : DARK
 */

.t-Dark			{
	background-color: $color-dark;
	color: #c6c6c6;

	h1 { color: #fff; }
	h2, h3, h4, h5, h6 { color: #a7a7a7; }

	a {
		color: #2bc1ff;

		&:hover { color: #82daff; }
	}

	label { color: #fff; }

	th, td { border-color: #6b6b6b; }

	input[type=text],
	input[type=file],
	input[type=password],
	textarea,
	select {
		border-color: #6b6b6b;
		color: #fff;

		&:focus {
			border-color: #fff;
			background-color: #202020;
		}

		&.is-error { border-color: $color-red; }
	}

	hr { border-color: $color-line; }
}


/*	--------------------------------------------------------------------------------
 *	Theme : Dark orange
 */

.t-Orange-dark {
	background-color: $color-orange-dark;
	color: #fff;

	a { color: $color-orange-light; }

	button, .btn {
		color: inherit;
		border-color: #fff;

		&:hover {
			color: #000;
			background-color: #fff;
		}
	}
}


.t-White		{ background-color: #fff; }
.t-Orange		{ background-color: $color-orange; }
.t-Gray			{ background-color: $color-gray; }
.t-Gray-dark	{ background-color: $color-gray-dark; }
.t-Blue			{ background-color: $color-blue; }
.t-Emerald		{ background-color: $color-emerald; }



/*	================================================================================
 *	GRIDS
 *	================================================================================ */


.flexGrid.u-Gutter {

	.Row {
		margin-left: -$gutter/2;
		margin-right: -$gutter/2;

		[class*='Col-'] {
			padding-left: $gutter/2;
			padding-right: $gutter/2;
		}
	}
}



/*	================================================================================
 *	TYPOGRAPHY
 *	================================================================================ */


h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #373737;
	font-size: 34px;
	font-weight: normal;
	line-height: 36px;
}

h2 {
	margin-bottom: 22px;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #373737;
}

h3 {
	margin-bottom: 22px;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: #2e2e2e;
}

h4 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: bold;
}

h5 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: normal;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p, figcaption {
	line-height: 22px;
}


/*	================================================================================
 *	FORMS
 *	================================================================================ */


form {
	margin-bottom: 20px;
	padding-top: 20px;
}

label,
.Label {
	display: block;
	overflow: hidden;
	margin-bottom: 14px;
	font-size: 14px;
}

input[type=text],
input[type=file],
input[type=password],
textarea,
select {
	border-width: 1px;
	border-style: solid;
	border-color: $color-line;
	margin-top: 8px;
	padding: 10px 10px 10px 14px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	transition: all .2s;
	float: left;
	text-align: left;
	background: none;
	color: inherit;

	&:focus { border-color: #a0a0a0; }

	&:disabled { color: #9e9e9e; }

	&.is-error { border-color: $color-red; }
}

input[type=file] { padding-top: 0; }

button,
.Btn {
	display: inline-block;
	position: relative;
	padding: 12px 30px 12px 30px;
	height: 40px;
	border: 2px solid $color-blue;
	background-color: transparent;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all .2s;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover {
		color: #fff;
		background-color: #06a1e1;
	}

	&.is-Error {
		color: $color-red;
		border-color: $color-red;

		&:hover {
			color: #fff;
			background-color: $color-red;
		}
	}
}



/*	================================================================================
 *	LINKS
 *	================================================================================ */


a {
	color: #06a1e1;

	&:hover { color: #12b8fd; }
}



/*	================================================================================
 *	OTHER ELEMENTS
 *	================================================================================ */


hr { margin-bottom: 20px; }



/*	================================================================================
 *	ICONS
 *	================================================================================ */


[class*='icon-'] {
	position: relative;
	overflow: hidden;
	text-indent: -500px;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		opacity: .6;
		transform: translateX(-50%) translateY(-50%);
	}
}

.icon {

	&-Bold:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNOC41IDhDOS45IDggMTEgNi45IDExIDUuNVM5LjkgMyA4LjUgM0g1djEwaDQuNWMxLjQgMCAyLjUtMS4xIDIuNS0yLjVTMTAuOSA4IDkuNSA4SDUiLz48L3N2Zz4="); }

	&-Italic:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNOCAzaDItMUw2IDEzSDVoMiIvPjwvc3ZnPg=="); }

	&-Underline:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTEgMTRINE0xMSAydjUuNUMxMSA5LjQgOS40IDExIDcuNSAxMVM0IDkuNCA0IDcuNVYyIi8+PC9zdmc+"); }

	&-Ordered-list:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMyAxMlY0TDEgNk03IDEybC0xIDJNMTUgMTJoLTVsNS01LjVDMTUgNS4xIDEzLjkgNCAxMi41IDRTMTAgNS4xIDEwIDYuNSIvPjwvc3ZnPg=="); }

	&-Unordered-list:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTMgM0g3TTEzIDhIN00xMyAxM0g3Ii8+PGNpcmNsZSBjeD0iMyIgY3k9IjEzIiByPSIxIi8+PGNpcmNsZSBjeD0iMyIgY3k9IjgiIHI9IjEiLz48Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMSIvPjwvc3ZnPg=="); }

	&-Link:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS4zIDguOWwzLjEtMy4xYy44LS44LjgtMi4xIDAtMi44TDEzIDEuNmMtLjgtLjgtMi4xLS44LTIuOCAwTDYuOCA0LjlNNC44IDdsLTMuMiAzLjJjLS44LjgtLjggMi4xIDAgMi44TDMgMTQuNGMuOC44IDIuMS44IDIuOCAwbDMuNS0zLjVNMTAgNmwtNCA0Ii8+PC9zdmc+"); }

	&-Undo:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNNSA2SDJWMyIvPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0zIDExYy45IDEuOCAyLjkgMyA1IDMgMy4zIDAgNi0yLjcgNi02cy0yLjctNi02LTZDNS45IDIgNC4xIDMuNCAzIDUiLz48L3N2Zz4="); }

	&-Redo:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTEgNmgzVjMiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTMgMTFjLS45IDEuOC0yLjkgMy01IDMtMy4zIDAtNi0yLjctNi02czIuNy02IDYtNmMyLjEgMCAzLjkgMS40IDUgMyIvPjwvc3ZnPg=="); }

	&-Clear-formatting:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNOSAxMGw0IDRNMTMgMTBsLTQgNE01IDEyTDggMmgzLTciLz48L3N2Zz4="); }

	&-Html:before {
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMDAwMDAwO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNNCA0TDEgOGwzIDRNMTIgNGwzIDQtMyA0TTkgM0w3IDEzIi8+PC9zdmc+"); }

}