
/*	================================================================================
 *	LAYOUT SETTINGS
 *	This variables are used for both base and work files
 *	================================================================================
 */


/*	--------------------------------------------------------------------------------
 *	BREAKPOINTS SIZES
 */

$breakpoints: (

	// Horizontal
	h-ul: 1520px, // Ultra large
	h-xl: 1280px, // Extra large
	h-lg: 980px,  // large
	h-md: 800px,  // Medium
	h-sm: 640px,  // Small
	h-xs: 480px,  // Extra small

	// Vertical
	v-lg: 780px,  // Large
	v-md: 700px,  // Medium
	v-sm: 620px,  // Small
)