/*	----------------------------------------------------------------------------
 *	CONTENT
 */

.c-Content {
	width: calc(100% - 400px);
	height: 100%;

	&--right {
		float: right;
		right: 0;
	}

	&--left {
		float: left;
		left: 0;
	}

	@include narrower-than(h-ul) {
		width: calc(100% - 350px);
	}

	@include narrower-than(h-xl) {
		width: calc(100% - 300px);
	}

	@include narrower-than(h-md) {
		float: none;
		position: static !important;
		padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
		width: auto;
		min-height: auto;
	}
}