/*	----------------------------------------------------------------------------
 *	SIDEBAR
 *	Provides secondary level navigation or
 */

.c-Sidebar {
	width: 400px;
	min-height: 100vh;
	font-size: 14px;
	line-height: 20px;

	&--Left {
		float: left;
		left: 0;
	}

	&--Right {
		float: right;
		right: 0;
	}

	@include narrower-than(ul) {
		width: 350px;
	}

	@include narrower-than(xl) {
		padding: $gutter/2 $gutter/2 0 $gutter/2;
		width: 300px;
	}

	@include narrower-than(md) {
		float: none;
	}
}