
/*	================================================================================
 *	COMPONENTS
 *
 *	This is a concrete, implementation-specific piece of UI. All of the changes
 *	you make to its styles should be detectable in the context you’re currently
 *	looking at. Modifying these styles should be safe and have no side effects.
 *	================================================================================ */


/*	----------------------------------------------------------------------------
 *	HEADER
 *	Horizontal bar used at the top of the page to provide major navigation
 *	and information about actually used application
 */

.c-Header {
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: +1;

	&__logo {
		float: left;

		svg {
			margin-top: 25px;
			margin-right: 20px;
			float: left;
			width: 27px;
			height: 18px;
		}

		h1 {
			float: left;
			margin: 16px 0 0 0;
			font-size: 18px;
			font-weight: normal;
			color: #7b7b7b;
		}
	}

	&__menu {
		float: right;
		height: 100%;
		list-style: none;

		& > li {
			height: 100%;
			display: inline-block;
			vertical-align: middle;

			& > a {
				display: block;
				position: relative;
				padding: 18px 16px 0 16px;
				height: 100%;
				font-size: 14px;
				line-height: 30px;
				color: #7b7b7b;
				transition: all .2s ease-out;

				&:hover { color: #000; }

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 50%;
					height: 3px;
					width: 100%;
					opacity: 0;
					background-color: $color-blue;
					transform: translateX(-50%) scaleX(0);
					transition: all .2s ease-out;
				}

				&:hover:after {
					opacity: 1;
					transform: translateX(-50%) scaleX(1);
				}
			}
		}
	}

	&__badge {
		ul {
			list-style: none;
			visibility: hidden;
			opacity: 0;
			background-color: #fff;
			transition: all .2s;
			border-color: $color-line;
			border-style: solid;
			border-width: 0 1px 1px 1px;

			a {
				display: block;
				padding: 12px 12px;
			}
		}

		&:hover {
			ul {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__badge-photo {
		display: inline-block;
		margin-right: 8px;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background-color: $color-gray;
	}
}


/*	----------------------------------------------------------------------------
 *	SIDEBAR
 *	Provides secondary level navigation or
 */

.c-Sidebar {
	width: 400px;
	min-height: 100vh;
	font-size: 14px;
	line-height: 20px;

	&.docked-left {
		float: left;
		left: 0;
	}
	&.docked-right {
		float: right;
		right: 0;
	}

	@media (max-width: $breakpoint-h-ul) {
		width: 350px;
	}

	@media (max-width: $breakpoint-h-xl) {
		padding: $gutter/2 $gutter/2 0 $gutter/2;
		width: 300px;
	}

	@media (max-width: $breakpoint-h-md) {
		float: none;
	}
}


.c-Content {
	width: calc(100% - 400px);
	height: 100%;

	&.docked-right {
		float: right;
		right: 0;
	}
	&.docked-left {
		float: left;
		left: 0;
	}

	@media (max-width: $breakpoint-h-ul) {
		width: calc(100% - 350px);
	}

	@media (max-width: $breakpoint-h-xl) {
		width: calc(100% - 300px);
	}

	@media (max-width: $breakpoint-h-md) {
		float: none;
		position: static !important;
		padding: $gutter/2 $gutter/2 $gutter/2 $gutter/2;
		width: auto;
		min-height: auto;
	}
}


.c-Cookies-bar {
	visibility: hidden;
	position: fixed;
	z-index: 999;
	bottom: 30px;
	right: 30px;
	padding: 20px;
	width: 240px;
	transform: scale(.7);
	opacity: 0;
	transition: all .3s;

	&.is-Open {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
	}

	button { margin: 0; }
}


.c-Tooltip {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	visibility: hidden;

	> div {
		position: absolute;
		left: -30px;
		bottom: 8px;
		padding: 12px 16px;
		transform: translateY(-10px);
		width: 200px;
		min-height: 40px;
		background-color: $color-dark;
		transition: all .2s ease-out;
		font-size: 14px;
		line-height: 18px;
		color: $color-gray;
		opacity: 0;
		will-change: transform;

		&:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 20px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $color-dark transparent transparent transparent;
		}
	}

	&.is-Open {
		visibility: visible;

		> div {
			transform: translateY(0);
			opacity: 1;
		}
	}
}