
/*	================================================================================
 *	DEFAULTS
 *	================================================================================
 */

/*	--------------------------------------------------------------------------------
 *	STARTING STYLES
 */

body {
	font-family: 'Segoe UI', 'Segoe', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: $color-dark;
}

hr { border-color: $color-line; }


/*	--------------------------------------------------------------------------------
 *	TABLES
 */

th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

td {
	padding-top: 8px;
	padding-bottom: 8px;
}


/*	--------------------------------------------------------------------------------
 *	TYPOGRAPHY
 */

h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: $color-gray-dark;
	font-size: 34px;
	font-weight: normal;
	line-height: 36px;
}

h2 {
	margin-bottom: 22px;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: $color-gray-dark;
}

h3 {
	margin-bottom: 22px;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	color: $color-gray-dark;
}

h4 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: bold;
}

h5 {
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 25px;
	font-weight: normal;
}

h6 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p, figcaption {
	line-height: 22px;
}

small {
	font-size: 13px;
	color: $color-gray-medium;
}


/*	--------------------------------------------------------------------------------
 *	LINKS
 */

a {
	color: $color-blue;

	&:hover { color: darken($color-blue, 10%); }
}


/*	--------------------------------------------------------------------------------
 *	FORMS
 */

form {
	margin-bottom: 20px;
	padding-top: 20px;
}

label,
.Label {
	display: block;
	margin-bottom: 14px;
	overflow: hidden;
	font-size: 14px;
	line-height: 16px;
}

input[type=text],
input[type=file],
input[type=password],
textarea,
select {
	border-width: 1px;
	border-style: solid;
	border-color: $color-line;
	margin-top: 8px;
	padding: 10px 10px 10px 14px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	transition: all .2s;
	float: left;
	text-align: left;
	background: none;
	color: inherit;

	&:focus { border-color: $color-gray-medium; }

	&:disabled { color: lighten($color-gray-medium, 10%); }

	&.is-Error { border-color: $color-red; }
}

input[type=file] { padding-top: 0; }

button,
.Btn {
	display: inline-block;
	position: relative;
	padding: 12px 30px 12px 30px;
	height: 40px;
	border: 2px solid $color-blue;
	background-color: transparent;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	cursor: pointer;
	transition: all .2s;
	text-transform: uppercase;
	letter-spacing: 1px;

	&:hover {
		color: $color-white;
		background-color: $color-blue;
	}

	&.is-Error {
		color: $color-red;
		border-color: $color-red;

		&:hover {
			color: $color-white;
			background-color: $color-red;
		}
	}
}

form .Grid-center {
	.Row { margin-bottom: 10px; }
	label { margin-bottom: 0; }
	input { margin-top: 0; }
}


/*	--------------------------------------------------------------------------------
 *	OTHER ELEMENTS
 */

hr { margin-bottom: 20px; }