
/*	================================================================================
 *	CONFIGURATION
 *	================================================================================ */

$color-dark			: #222222;
$color-gray			: #f1f1f1;
$color-gray-dark	: #aeaeae;
$color-orange-light	: #efc58a;
$color-orange		: #ffa000;
$color-orange-dark	: #ed5519;
$color-blue			: #4993ee;
$color-red			: #e0360e;
$color-emerald		: #06d676;

$color-line			: #d7d7d7;

$gutter				: 40px;